<div id="room">
  <h1>Membres</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="searchMember"
          >Search<mat-icon>search</mat-icon></span
        >
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Tapez le nom d'un membre ici"
        aria-label="searchMember"
        aria-describedby="searchMember"
      />
    </div>
  </div>

  <table
    id="ht"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
    <thead class="roomsheader">
      <th class="contentCell">No Membre</th>
      <th class="contentCell">Nom</th>
      <th class="contentCell">No Permis de Conduire</th>
      <th class="contentCell">Adresse Postale</th>
      <th class="contentCell">Adresse Courriel</th>
      <th class="contentCell">No Compte Bancaire</th>
      <th class="contentCell">Nom Banque</th>
      <th class="contentCell">Mot de Passe</th>
      <th class="contentCell">Emplacement Favori</th>
    </thead>
    <tbody>
      <tr>
        <td class="contentCell">1</td>
        <td class="contentCell">John Doe</td>
        <td class="contentCell">123456789</td>
        <td class="contentCell">1234 rue de la Paix</td>
        <td class="contentCell">JohnDoe@yopmail.com</td>
        <td class="contentCell">123456789</td>
        <td class="contentCell">Banque Nationale</td>
        <td class="contentCell">123456789</td>
        <td class="contentCell">1234 rue de la Paix</td>
      </tr>
      <tr>
        <td class="contentCell">2</td>
        <td class="contentCell">Jane Doe</td>
        <td class="contentCell">123456789</td>
        <td class="contentCell">1234 rue de la Paix</td>
        <td class="contentCell">JaneDoe@yopmail.com</td>
        <td class="contentCell">123456789</td>
        <td class="contentCell">Banque Nationale</td>
        <td class="contentCell">123456789</td>
        <td class="contentCell">1234 rue de la Paix</td>
      </tr>
    </tbody>
  </table>
</div>
